@model Blog.Models.Post

<h2>Novo</h2>

<hr />

<a href="/post">Listar Todos</a>

<hr />

<form method="POST" action="/post/adiciona">

    @Html.ValidationSummary()

    <label>
        Título:
        <input type="text" name="Titulo" value="@Model.Titulo" maxlength="100" required />
    </label>

    @Html.ValidationMessage("Titulo")

    <hr />

    <label>
        Resumo:
        <input type="text" name="Resumo" value="@Model.Resumo" maxlength="200" required />
    </label>

    @Html.ValidationMessage("Resumo")

    <hr />

    <label>
        Categoria:
        <input type="text" name="Categoria" value="@Model.Categoria" maxlength="50" required />
    </label>

    @Html.ValidationMessage("Categoria")

    <hr />

    <button name="Enviar" value="sim">Enviar Cadastro</button>

</form>



<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

<script>
    $("form").validate();
</script>

